<h1>Registered Employees</h1> 
<div class="d-flex justify-content-center"> 
<div class="spinner-border" role="status" > 
	<span class="sr-only" id="loading">Loading...</span> 
</div> 
</div> 
<table class="table" id='tab'> 
	<thead> 
	<tr> 
		<th scope="col">Name</th> 
		<th scope="col">Position</th> 
		<th scope="col">Office</th> 
		<th scope="col">Salary</th> 
	</tr> 
	</thead> 
	<tbody> 
	<tr *ngFor="let product of products"> 
		<td>{{ product.id }}</td> 
		<td>{{ product.createdAt }}</td> 
		<td>{{ product.name }}</td> 
		<td>{{ product.avatar }}</td> 
	</tr> 
	</tbody> 
</table>					 
