<h1 class="header_1">Mini-Products!</h1>
<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">		
			<div class="" role="status">			
				<a [routerLink]="['./add-products']">
					<button routerLinkActive="router-link-active" class="btn btn-primary" style="width:100px height100px"> Add Products
					</button>
				</a>	
			</div>
	</nav>
  </div>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">createdAt</th>
			<th scope="col">price</th>
			<th scope="col">product</th>
			<th scope="col">Manage</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let product of products">
			<td>{{ product.id }}</td>
			<td>{{ product.createdAt }}</td>
			<td>{{ product.price }}</td>
			<td>{{ product.product }}</td>
			<td>
				<a [routerLink]="['./edit-products/',product.id]">
					<button routerLinkActive="router-link-active" class="btn btn-info btn-sm" 
					style="width:100px">Edit Products</button>
				</a>
			
				<a>
					<button (click)="deleteProduct(product.id)" 
					class="btn btn-danger btn-sm" style="width:100px height 100px"
					>Delete Products</button>
				</a>
			</td>
			</tr>
	</tbody>
</table>